.leaf.flex
  .inner
    %h2 Contents (draft)
    %ul
      %li
        %a.page{ href: "7" }
          Why Machine Learning Strategy 
          %span 7
      %li
        %a.page{ href: "8" }
          How to use this book to help your team
          %span 8
      %li
        %a.page{ href: "9" }
          Prerequisites and Notation 
          %span 9
      %li
        %a.page{ href: "15" }
          Scale drives machine learning progress 
          %span 15
      %li
        %a.page{ href: "17" }
          Your development and test sets
          %span 17
      %li
        %a.page{ href: "18" }
          Your dev and test sets should come from the same distribution 
          %span 18
      %li
        %a.page{ href: "20" }
          How large do the dev/test sets need to be?
          %span 20
      %li
        %a.page{ href: "21" }
          Establish a single-number evaluation metric for your team to optimize
          %span 21
      %li
        %a.page{ href: "22" }
          Optimizing and satisficing metrics
          %span 22
      %li
        %a.page{ href: "23" }
          Having a dev set and metric speeds up iterations
          %span 23
      %li
        %a.page{ href: "25" }
          When to change dev/test sets and metrics
          %span 25
      %li
        %a.page{ href: "26" }
          Takeaways: Setting up development and test sets
          %span 26